<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADKESMA GAMADARPA - UPGRADING</title>
    <link rel="icon" href="assets/img/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="assets/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="assets/css/success.css">
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
</head>
<body class="bodyme">
    <html>
    <div class="main">
        <div class="signup">
            <form>
                <div style="padding-top:20px;">
                    <p class="textme" style="font-size: 1em;" for="chk" aria-hidden="true">CHECK ATTENDANCE</p>
                    <p class="textme" style="font-size: 0.8em;" for="chk" aria-hidden="true">Upgrading Universitas Metamedia 2023/2024</p>
                    <p class="textme" style="font-size: 0.8em;" for="chk" aria-hidden="true">Nama: {{nama}}</p>
                    <p class="textme" style="font-size: 0.8em;" for="chk" aria-hidden="true">NIM: {{nim}}</p>
                    <table >
                        {% for data in listdata %}
                            <tr>
                                <td><p class="textme" style="font-size: 0.8em" for="chk" aria-hidden="true"> ✅ Attendance at {{data}}</p><td>
                                <tr style="background-color: black;"> <!-- this is the empty row -->
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </form>
    </div>
    <style>
    </style>
</html>
</body>
</html>

