    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ADKESMA GAMADARPA - UPGRADING</title>
        <link rel="icon" href="assets/img/favicon.ico" type="image/x-icon">
        <link rel="shortcut icon" href="assets/img/favicon.ico" type="image/x-icon">
        <script type="module" src="assets/script/index.js"></script>
        <link rel="stylesheet" type="text/css" href="assets/css/index.css">
        <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
    </head>
    <body class="bodyme">
        <html>
        <div class="main">
            <div class="signup">
                <form>
                    <div style="padding-top:20px;">
                        <p class="textme" style="color:aliceblue;ont-size: 0.8em;" for="chk" aria-hidden="true">Upgrading Metamedia 2023/2024</p>
                    </div>
                    <div class="img-frame">
                        <img src="assets/img/umemet.png" style="width:50%;height:7%;">
                    </div>
                    <input id="passcode" name="passcode" placeholder="ENTER PASSCODE" class="passcode input-main" />
                    <button id="sendpin" class="glow-on-hover buttonme" type="button">Attendance</button>
                    <button id="my-button2" class="glow-on-hover2 buttonme" type="button">Edit Data</button>
                </form>
        </div>
        <style>
        </style>
    </html>
    </body>
    </html>

