<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADKESMA GAMADARPA - UPGRADING</title>
    <link rel="icon" href="assets/img/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="assets/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="assets/css/success.css">
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
</head>
<body class="bodyme">
    <html>
    <div class="main">
        <div class="signup">
            <form>
                <div style="padding-top:20px;">
                    <p class="textme" style="font-size: 1em;" for="chk" aria-hidden="true">SUKSES MENDAFTAR</p>
                    <p class="textme" style="font-size: 0.8em;" for="chk" aria-hidden="true">Upgrading Universitas Metamedia 2023/2024</p>
                </div>
                <div class="img-frame">
                    <img src="assets/img/umemet.png" style="width:50%;height:0%;">
                </div>
                <p class="textme" style="font-size: 0.8em;" for="chk" aria-hidden="true">Nama: {{nama}}</p>
                <p class="textme" style="font-size: 0.8em;" for="chk" aria-hidden="true">NIM: {{nim}}</p>
                <p class="textme" style="font-size: 0.8em;" for="chk" aria-hidden="true"></p>
                <button onclick="document.location='/check?protocol_id={{uuid}}'" class="glow-on-hover buttonme" type="button">CHECK ATTENDANCE</button>
            </form>
    </div>
    <style>
    </style>
</html>
</body>
</html>

